body{
  height:100vh;
  
  background:#48cae4;
}

.container{
  height: 500px;
  width: 100%;
  display:flex;        
  justify-content: center;
  align-items: center;
  gap: 30px;
   padding: 30px;
   color: blue;

}
.class{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.color{
    color: rgb(30, 31, 30);
}

.box{
     width:360px;
  height:280px;
  border-radius:14px;
  background:#00b4d8;
  border:5px solid rgb(73, 72, 73);
  padding: 30px;
  color: blue;
}
.khe{
     width:500px;
  height:280px;
  border-radius:14px;
  background:#00b4d8;
  border:1px solid rgb(73, 72, 73);
  contain: 50px;
 position: relative;
 right: 300px;
 color: rgb(156, 28, 92);
   padding: 10px;
}
.khezzani{
    width:300px;
  height:150px;
  border-radius:14px;
  background:#00b4d8;
  border:1px solid rgb(73, 72, 73);
  position: relative;
  padding: 10px;
}    

.k{
  width:300px;
  height:150px;
  border-radius:14px;
  background:#00b4d8;
  border:1px solid rgb(73, 72, 73);
   padding: 10px;
}
.ou{
 width:300px;
  height:150px;
  border-radius:14px;
  background:#00b4d8;
  border:1px solid rgb(73, 72, 73);
  padding: 10px;
}
.oussama{
    
  width: 100%;
  display:flex;        
  justify-content: center;
  align-items: center;
  gap: 76px;

}